<main class="min-h-screen flex justify-center box-border bg-gradient-to-tr from-blue-500 to-blue-700 text-white lg:p-5 md:p-4 sm:p-0">
  <div class="size-full box-border p-1 bg-primary/[.3] md:rounded-2xl lg:w-9/12 xl:w-9/12">
    <div class="size-full flex justify-center bg-white rounded-xl px-4 pt-8 pb-2 md:px-8 text-black">
      <div class="lg:w-11/12 w-full">
        <router-outlet/>

        @if (!isArticle()) {
        <!-- FOOTER STARTS HERE -->
        <section>
          <div class="max-w-screen-xl px-4 p-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
              <div class="flex justify-between -mx-5 -my-2">
                  <nav class="flex flex-wrap justify-center ">
                      <div class="px-5 py-2">
                          <a [routerLink]="['']" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                              Home
                          </a>
                      </div>
                      <div class="px-5 py-2">
                          <a href="https://se00n00.github.io/My_Portfolio/" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                              Portfolio
                          </a>
                      </div>
                      <div class="px-5 py-2">
                          <a href="mailto:mohit.kumar.builds@gmail.com" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                              Contact
                          </a>
                      </div>
                  </nav>
                    <div class="flex justify-center space-x-6">
                        @if (auth.loggedIn()) {
                            <div [routerLink]="['/exit']" (click)="logout()" title="Log out" class="stroke-slate-600 hover:stroke-black cursor-pointer">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.3531 21.8897 19.1752 21.9862 17 21.9983M9.00195 17C9.01406 19.175 9.11051 20.3529 9.87889 21.1213C10.5202 21.7626 11.4467 21.9359 13 21.9827" stroke="inherit" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                            </div>
                        }
                    </div>
              </div>
              
              <p class="mt-8 text-sm leading-6 text-center text-gray-400">
                  © September 2026 Mohit
              </p>
          </div>
        </section>
        <!-- FOOTER ENDS HERE -->
        }

      </div>
    </div>
  </div>
</main>