<input type="text" name="" placeholder="Search" class="w-full placeholder:text-black/[0.5] bg-gray-400/[0.1] active:bg-white box-border hover:shadow-xl rounded-lg h-12 pl-4 transition-shadow my-3 md:my-9">
<div class="md:grid md:grid-cols-2 flex flex-wrap gap-10 pt-4 w-full mb-4 justify-center">
    <div [routerLink]="['/article']" class="flex flex-col hover:text-gray-800/[0.8] text-black/[0.8] cursor-pointer w-full">
        <div class="bg-gradient-to-tr from-indigo-500 to-indigo-900 h-52 rounded-2xl mb-4 shadow-sm hover:saturate-200 hover:scale-95 transition-all">
            <img src="" alt="">
        </div>
        <div class="text-[10px] font-medium ">{{type | uppercase}}</div>
        <div class="text-xl font-[600] font-content">The best Website design practices</div>
        <div class="text-[13px]">Learn how to design user-friendly websites that converts and give unforgettable experience.</div>
        <div class="flex justify-end gap-5 mt-5">
            <div class="flex gap-1">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove_red_eye"></mat-icon>
                {{numView}}
            </div>
            <div class="flex gap-1">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                {{numLiked}}
            </div>
        </div>
    </div>
    <div [routerLink]="['/article']" class="flex flex-col hover:text-gray-800/[0.8] text-black/[0.8] cursor-pointer w-full">
        <div class="bg-gradient-to-tr from-indigo-500 to-indigo-900 h-52 rounded-2xl mb-4 shadow-sm hover:saturate-200 hover:scale-95 transition-all">
            <img src="" alt="">
        </div>
        <div class="text-[10px] font-medium ">{{type | uppercase}}</div>
        <div class="text-xl font-[600] font-content">The best Website design practices</div>
        <div class="text-[13px]">Learn how to design user-friendly websites that converts and give unforgettable experience.</div>
        <div class="flex justify-end gap-5 mt-5">
            <div class="flex gap-1">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove_red_eye"></mat-icon>
                {{numView}}
            </div>
            <div class="flex gap-1">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                {{numLiked}}
            </div>
        </div>
    </div>
</div>