<div class="h-screen bg-cover flex  md:mt-10 rounded-xl" style="background-image:url(a1.jpg);">
    <div class="flex-1 flex justify-center items-center">
        <div class="backdrop-blur-lg border border-white/[0.06] rounded-[10px] m-2 px-6 w-full max-w-[468px]">
            <h3 class="text-center text-white text-2xl mt-12 mb-10">Author Login</h3>
            <form (ngSubmit)="onLogin()" class="flex flex-col">
                <div class="flex flex-col gap-5">
                    <div class="flex items-center relative">
                        <input [(ngModel)]="username" type="text" name="username" id="username" placeholder="Username" required class="outline-none placeholder:text-white/[0.42] w-full h-10 rounded-lg pl-4 pr-2 border-[1px] border-white/[0.1] text-sm box-border bg-white/[0.1] text-white">
                    </div>
                    <div class="flex items-center relative">
                        <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="Password" required class="outline-none text-sm placeholder:text-white/[0.42] w-full h-10 rounded-lg pl-4 pr-2 border-[1px] border-white/[0.1]  box-border bg-white/[0.1] text-white">
                    </div>
                    <a href="http://" class="text-white/[0.568] text-base">Forgot Password?</a>
                    <input type="submit" [value]="busy ? 'Logging in…' : 'Login'" [disabled]="busy" class="bg-white/[0.1] border-[1px] border-transparent text-white/[0.93] backdrop-blur-[20px] h-10 rounded-lg cursor-pointer disabled:opacity-50">
                    @if (loginError) {
                        <p class="text-center text-sm text-red-300/[0.9]">{{ loginError }}</p>
                    }
                    <p class="text-center mt-3 mb-10 text-white/[0.5]">Warning! This window is only for the author</p>
                </div>
                
            </form>
        </div>
    </div>
</div>
