<div class="h-screen bg-cover flex  md:mt-10 rounded-xl" style="background-image:url(a1.jpg);">
    <div class="flex-1 flex justify-center items-center">
        <div class="backdrop-blur-lg border-2 border-white/[0.1] rounded-[10px] m-2 px-6 w-full max-w-[468px]">
            <h3 class="text-center text-white text-2xl mt-12 mb-10">Author Login</h3>
            <form action="" method="post" class="flex flex-col">
                <div class="flex flex-col gap-5">
                    <div class="flex items-center gap-4 relative">
                        <span class="material-symbols-outlined absolute left-2 md:left-4 text-white/[0.2]">person</span>
                        <input type="text" name="username" id="username" placeholder="Username" class="placeholder:text-white/[0.42] w-full h-10 rounded-lg pl-9 md:pl-12 pr-2 border-[1px] border-white/[0.1] text-base box-border bg-white/[0.1]">
                    </div>
                    <div class="flex items-center relative">
                        <span class="material-symbols-outlined absolute left-2 md:left-4 text-white/[0.2]">lock</span>
                        <input type="password" name="password" id="password" placeholder="Password" class="placeholder:text-white/[0.42] w-full h-10 rounded-lg pl-9 md:pl-12 pr-2 border-[1px] border-white/[0.1] text-base box-border bg-white/[0.1]">
                    </div>
                    <a href="http://" class="text-white/[0.568] text-base">Forgot Password?</a>
                    <input type="submit" value="Login" class="bg-white/[0.1] border-[1px] border-transparent text-white/[0.93] backdrop-blur-[20px] h-10 rounded-lg">
                    <p class="text-center mt-3 mb-10 text-white/[0.25]">Warning! This window is only for the author</p>
                </div>
                
            </form>
        </div>
    </div>
</div>
