<div class="flex flex-col w-full">
    <div class="flex gap-5 my-2 md:my-6">
        <img src="" alt="" class="h-12 w-12 rounded-3xl border-2 border-gray-700">
        <a href="" class="flex items-center font-semibold text-xl">Mohit Kumar</a>
    </div>
    <div class="relative text-3xl font-semibold mb-1">
        The best Website design practices
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite" class="absolute right-0 text-gray-500 hover:text-gray-950 cursor-pointer"></mat-icon>
    </div>
    <div class="text-sm">Learn how to design user-friendly websites that converts and give unforgettable experience.</div>
    <hr class="h-px my-6 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="relative bg-cyan-700 h-64 rounded-xl mb-4 shadow-sm hover:saturate-200 transition-all">
        <img src="" alt="">
        <div class="absolute bottom-3 right-4 text-sm text-gray-300">{{type | uppercase}}</div>
    </div>
</div>